<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
    <test name="SampleTestOne">
        <classes>
            <class name="triangle.TriangleTestNG"/>
        </classes>
    </test>
    <!--<test name="NegativeCase">
        <groups>
            <run>
                <include name="negativeTests"/>
            </run>
        </groups>
        <classes>
            <class name="triangle.TriangleTestNG"/>
        </classes>
    </test>-->
    <!--It is prompts for myself-->
    <!--<test name="SampleTestTwo">
        <classes>
            <class name="environment.tstAllNGFixturesExampleTwo">
                <methods>
                    <exclude name="tstTest1" />
                </methods>
            </class>
        </classes>
    </test>-->
    <!--<test name="SampleTestThree">
        <groups>
            <run>
                <include name="windows.*"/>
            </run>
        </groups>
        <classes>
            <class name="environment.tstAllNGFixturesExampleTwo"/>
        </classes>
    </test>-->
</suite>